html{
	margin: 0;
}

body{
	margin: 0;
	background-color: #0b3637;
}

#alp{
	background-color: #0b3637;
}

#click{
	width: 600px;
	height: 90px;
	margin-left: 20%;
	margin-top: 10%;
	float: left;
	display: inline-block;
}

#to{
	width: 250px;
	height: 90px;
	float: left;
	display: inline-block;
	margin-top: 10%;
	margin-right: 20%;
}

.click{
	width: 100px;
	height: 90px;
	float: left;
	margin-left: 1.5%;
	background-color: #41d4cf;
	
}

.title{
	width: 1200px;
	height: 180px;
	margin-top: 5%;
	margin-left: 9%;
}

.title .box{
	margin-left: 2%;
	margin-bottom: 1%;
	margin-top: 3%;

}

#slider1{
	background-color: #0b3637;
	height: 100%;
	width: 100%;
	overflow: scroll;

}

.large{
	margin-top: 0%;
	width: 100%;
	height: 100%;
	margin-left: 13%;
	display: inline-block;
	position: absolute;
}



#trigger1{
	width: 100px;
	height: 90px;
	background-color: #41d4cf;
	float: right;
	margin-top: 25%;
	margin-right: 2%;
	border-top-right-radius: 20px;
  	border-bottom-right-radius: 20px;
	
}

#trigger1:hover {
  background-color: #fd9a2c;
}


#trigger3{
	width: 100px;
	height: 90px;
	background-color: #41d4cf;
	float: left;
	margin-top: 46%;
	margin-left: 3%;
	border-top-left-radius: 20px;
  	border-bottom-left-radius: 20px;
  	position: -webkit-sticky;
  	position: sticky;
  	top: 80%;
}

#trigger3:hover {
  background-color: #fd9a2c;
}



.wrapper{
	width: 1200px;
	height: 180px;
	margin-top: 3%;
	margin-right: 0;
}



.box{
	width: 200px;
	height: 180px;
	background-color: #41d4cf;
	float: left;
	margin-left: 5%;
	/*margin-top: 10%;*/
}


.box2{
	width: 200px;
	height: 180px;
	background-color: #41d4cf;
	float: left;
	margin-left: 2%;
	margin-top: 5%;
}

.description{
	width: 1040px;
	height: 320px;
	margin-top: 5%;
	margin-left: 13%;
}

.box3{
	width: 100px;
	height: 90px;
	float: left;
	margin-left: 1.5%;
	margin-top: 2%;
	background-color: #41d4cf;
}



.t1arrow1{
	width: 80px;
	height: 30px;
	background-color: #0b3637;
	/*border-top-right-radius: 80px;*/
  	/*border-bottom-right-radius: 80px;*/
}

.t1arrow2{
	width: 80px;
	height: 30px;
	background-color: #0b3637;
	/*border-top-right-radius: 80px;*/
  	/*border-bottom-right-radius: 80px;*/
  	margin-top: 30px;
}



.t3arrow1{
	float: right;
	width: 80px;
	height: 30px;
	background-color: #0b3637;
	/*border-top-right-radius: 80px;*/
  	/*border-bottom-right-radius: 80px;*/
}

.t3arrow2{
	float: right;
	width: 80px;
	height: 30px;
	background-color: #0b3637;
	/*border-top-right-radius: 80px;*/
  	/*border-bottom-right-radius: 80px;*/
  	margin-top: 30px;
}


#zl{
	margin-bottom: 10%;
}


.sf1{
	width: 150px;
	height: 60px;
	background-color: #10206b;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
}
/*#sf:hover {
  background-color: #fd9a2c;
}*/

.sf2{
	width: 185px;
	height: 85px;
	background-color: #10206b;
	z-index: 2;
	margin-top: 15px;
}

.lf1{
	width: 140px;
	height: 170px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	border-bottom-right-radius: 80px;
  	border-bottom-left-radius: 80px;
}

.if1{
	width: 80px;
	height: 160px;
	background-color: #10206b;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	float: left;
	}


.if2{
	width: 80px;
	height: 160px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	float: right;
}	


.df1{
	width: 120px;
	height: 160px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
}

.ef1{
	height: 30px;
	width: 135px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	float: right;
}


.ef2{
	height: 90px;
	width: 135px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 40px;
  	display: inline-block;
  	float: right;
}

/*click to*/

.ct1{
	width: 70px;
	height: 80px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 30px;
  	margin-top: 5px;
  	border-bottom-right-radius: 80px;
  	border-bottom-left-radius: 80px;
}

.lt1{
	width: 70px;
	height: 85px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 30px;
  	border-bottom-right-radius: 80px;
  	border-bottom-left-radius: 80px;
}

.it1{
	width: 40px;
	height: 80px;
	background-color: #10206b;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-top: 5px;
  	display: inline-block;
  	float: left;
	}


.it2{
	width: 40px;
	height: 80px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 5px;
  	display: inline-block;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	float: right;
}	

.ctt1{
	width: 70px;
	height: 80px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 30px;
  	margin-top: 5px;
  	border-bottom-right-radius: 80px;
  	border-bottom-left-radius: 80px;
}

.kt1{
	width: 15px;
	height: 25px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 30px;
  	display: inline-block;
  	float: left;
	}

.kt2{
	width: 40px;
	height: 80px;
	position: absolute;
	background-color: #10206b;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	margin-left: 20px;
  	margin-top: 5px;
  	float: right;
  	display: inline-block;
	}


.kt3{
	width: 15px;
	height: 25px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 65px;
  	margin-left: 30px;
  /*	float: left;
  	display: inline-block;*/
	}

.tt1{
	width: 30px;
	height: 87px;
	background-color: #10206b;
  	border-top-left-radius: 80px;
  	border-top-right-radius: 80px;
  	z-index: 1;
  	margin-top: 5px;
  	display: inline-block;
  	float: left;
	}


.tt2{
	width: 30px;
	height: 87px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 5px;
  	display: inline-block;
  	border-top-left-radius: 80px;
  	border-top-right-radius: 80px;
  	float: right;
}

.ot1{
	width: 60px;
	height: 80px;
	background-color: #10206b;
	z-index: 1;
	margin-left: 30px;
	margin-top: 5px;
	border-top-left-radius: 80px;
  	border-top-right-radius: 80px; 
}	







/*SLIDER 1*/
/*//-ALPHABET-//*/
.al1{
  	width: 120px;
	height: 60px;
	background-color: #10206b;
  	border-top-left-radius: 80px;
  	border-top-right-radius: 80px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
	}

.al2{
	width: 120px;
	height: 100px;
	background-color: #10206b;
	z-index: 2;
	margin-top: 15px; 
	margin-left: 65px;
}	

.bl1{
	width: 120px;
	height: 60px;
	background-color: #10206b;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
}

.bl2{
	width: 120px;
	height: 84px;
	background-color: #10206b;
	z-index: 2;
	margin-top: 15px; 
	margin-left: 65px;
}

.cl1{
	width: 140px;
	height: 160px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
  	border-bottom-right-radius: 80px;
  	border-bottom-left-radius: 80px;
}

.dl1{
	width: 120px;
	height: 160px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
}

.el1{
	height: 30px;
	width: 135px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	float: right;
}


.el2{
	height: 90px;
	width: 135px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 40px;
  	display: inline-block;
  	float: right;
}

.fl1{
	height: 30px;
	width: 135px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	
  	float: right;
}

.fl2{
	height: 100px;
	width: 135px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 40px;
  	display: inline-block;
  	float: right;
  	border-top-left-radius: 90px;
  	border-bottom-left-radius: 90px;
}


.gl1{
	width: 140px;
	height: 60px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
}

.gl2{
	width: 65px;
	height: 25px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	display: inline-block;
  	float: left;
}

.gl3{
	width: 120px;
	height: 80px;
	background-color: #10206b;
  	border-bottom-left-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 20px;
}

.hl1{
	width: 120px;
	height: 80px;
	background-color: #10206b;
	z-index: 1;
	margin-left: 65px; 
}

.hl2{
	width: 120px;
	height: 90px;
	background-color: #10206b;
	z-index: 2;
	margin-top: 15px; 
	margin-left: 65px;
	border-top-left-radius: 80px;
  	border-top-right-radius: 80px;
}


.il1{
	width: 80px;
	height: 160px;
	background-color: #10206b;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	float: left;
	}


.il2{
	width: 80px;
	height: 160px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	float: right;
}	


.jl1{
	width: 80px;
	height: 160px;
	background-color: #10206b;
  	border-bottom-left-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	float: left;
	}

.jl2{
	width: 20px;
	height: 170px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
  	margin-left: 100px;
  	display: inline-block;
  	float: left;
	}


.kl1{
	width: 30px;
	height: 50px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 60px;
  	display: inline-block;
  	float: left;
	}

.kl2{
	width: 80px;
	height: 120px;
	position: absolute;
	background-color: #10206b;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	margin-left: 40px;
  	margin-top: 30px;
  	float: right;
  	display: inline-block;
	}

.kl3{
	width: 30px;
	height: 50px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 130px;
  	margin-left: 60px;
  /*	float: left;
  	display: inline-block;*/
	}



.ll1{
	width: 140px;
	height: 170px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	border-bottom-right-radius: 80px;
  	border-bottom-left-radius: 80px;
}

.ml1{
	width: 65px;
	height: 175px;
	background-color: #10206b;
  	border-top-left-radius: 40px;
  	border-top-right-radius: 40px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
  	display: inline-block;
  	float: left;
	}


.ml2{
	width: 30px;
	height: 175px;
	background-color: #10206b;
  	z-index: 1;
  	margin-right: 15px;
  	margin-top: 10px;
  	display: inline-block;
  	float: right;
}	

.nl1{
	width: 120px;
	height: 170px;
	background-color: #10206b;
	z-index: 1;
	margin-left: 65px;
	margin-top: 10px;
	border-top-left-radius: 80px;
  	border-top-right-radius: 80px; 
}

.ol1{
	width: 120px;
	height: 160px;
	background-color: #10206b;
	z-index: 1;
	margin-left: 65px;
	margin-top: 10px;
	border-top-left-radius: 80px;
  	border-top-right-radius: 80px; 
}

.pl1{
	width: 120px;
	height: 60px;
	background-color: #10206b;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
}

.pl2{
	width: 135px;
	height: 95px;
	background-color: #10206b;
	z-index: 2;
	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
	margin-top: 15px; 
	margin-left: 65px;
}

.ql1{
	width: 70px;
	height: 160px;
	background-color: #10206b;
	z-index: 1;
	margin-left: 65px;
	margin-top: 10px;
	float: left;
	display: inline-block;
	/*border-top-left-radius: 80px;
  	border-top-right-radius: 80px; */
}

.ql2{
	width:50px;
	height: 110px;
	background-color: #10206b;
	margin-top: 10px;
	margin-left: 135px;


}



.rl1{
	width: 120px;
	height: 60px;
	background-color: #10206b;
  	border-top-right-radius: 80px;
  	border-bottom-right-radius: 80px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
	}


.rl2{
	width: 120px;
	height: 100px;
	background-color: #10206b;
	z-index: 2;
	margin-top: 15px; 
	margin-left: 65px;
}

.sl1{
	width: 150px;
	height: 60px;
	background-color: #10206b;
  	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
  	z-index: 1;
  	margin-left: 65px;
  	margin-top: 10px;
}

.sl2{
	width: 185px;
	height: 85px;
	background-color: #10206b;
	z-index: 2;
	margin-top: 15px;
}

.tl1{
	width: 60px;
	height: 175px;
	background-color: #10206b;
  	border-top-left-radius: 80px;
  	border-top-right-radius: 80px;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	float: left;
	}


.tl2{
	width: 60px;
	height: 175px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
  	display: inline-block;
  	border-top-left-radius: 80px;
  	border-top-right-radius: 80px;
  	float: right;
}	


.ul1{
	width: 120px;
	height: 170px;
	background-color: #10206b;
	z-index: 1;
	margin-left: 65px;
	border-bottom-left-radius: 80px;
  	border-bottom-right-radius: 80px; 
}


.vl1{
	width: 120px;
	height: 130px;
	background-color: #10206b;
	z-index: 1;
	margin-left: 65px;
}

.vl2{
	width: 80px;
	height: 35px;
	background-color: #10206b;
	/*border-bottom-left-radius: 80px;
  	border-bottom-right-radius: 80px; */
	z-index: 1;
	margin-left: 90px;
}




.wl1{
	width: 65px;
	height: 170px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 65px;
  	display: inline-block;
  	float: left;
	}


.wl2{
	width: 30px;
	height: 170px;
	background-color: #10206b;
  	z-index: 1;
  	margin-right: 15px;
  	display: inline-block;
  	border-bottom-left-radius: 40px;
  	border-bottom-right-radius: 40px;
  	float: right;
}


.xl1{
	width: 50px;
	height: 90px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 40px;
  	display: inline-block;
  	float: left;
}

.xl2{
	width: 80px;
	height: 40px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 10px;
  	display: inline-block;
  	border-bottom-left-radius: 120px;
  	border-bottom-right-radius: 120px;
  	float: left;
	}


.xl3{
	width: 50px;
	height: 90px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 40px;
  	display: inline-block;
  	float: right;
}

.xl4{
	width: 80px;
	height: 40px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 100px;
  	margin-left: 10px;
  	display: inline-block;
  	border-top-left-radius: 120px;
  	border-top-right-radius: 120px;
  	float: left;
	}



.yl1{
	width: 110px;
	height: 50px;
	background-color: #10206b;
  	z-index: 1;
  	margin-left: 50px;
  /*	display: inline-block;*/
  	border-bottom-left-radius: 120px;
  	border-bottom-right-radius: 120px;
  	/*float: left; */

}


.yl2{
	width: 70px;
	height: 130px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 30px;
  	display: inline-block;
  	float: left;
	}


.yl3{
	width: 70px;
	height: 130px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 30px;
  	display: inline-block;
  	float: right;
}		

.zl1{
	width: 150px;
	height: 60px;
	background-color: #10206b;
  	z-index: 1;
  	margin-top: 10px;
}

.zl2{
	width: 185px;
	height: 85px;
	background-color: #10206b;
	border-top-left-radius: 80px;
  	border-bottom-left-radius: 80px;
	z-index: 2;
	margin-top: 15px;
	float: right;
}




